body {
  background-color:#5f8c8a;
}

#aboutus {
  font-family: helvetica;
  color: #eddb4e;
  padding: 10px;
  font-size: 20px;

}

#bigtitle {
  font-family: helvetica;
  color: #eddb4e;
  position: relative;
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 10px;
  margin-color: white;
}

#subtitle {
  font-family: helvetica;
  color: #ef8775;
  position: relative;
  text-align: center;
}

p {
  color:white;
  font-family: courier;
  font-size: 25px;
  text-align: left;
  float: left;
  width: 800px;
  padding: 60px;
  margin: 25px;
}



.circular--square {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 5px;
  display:inline-block;
}

#bridge {
  float: left;
  border-radius: 10%;
  width: 250px;
  height: 250px;
  padding: 15px;
  display:inline-block;
}

.container {
  text-align:center;
}

#forms {
  background-image:jenrunning.jpg;
}