body {
  background-color:#5f8c8a;
}

#aboutus {
  font-family: helvetica;
  color: #eddb4e;
  padding: 10px;
  font-size: 20px;
}

#bigtitle {
  font-family: helvetica;
  color: #eddb4e;
  position: relative;
  text-align: center;
  font-size: 50px;
  padding: 10px;
  margin: 10px;
  margin-color: white;
}

#subtitle {
  font-family: helvetica;
  color: #ef8775;
  position: relative;
  text-align: center;
}

.piccontainer {
  display: block;
  text-align:center;
  justify-content: center;
  float: center;
}

.circular--square {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 5px;
  display:inline-block;
}

div.maincontent {
  height: 85%;
  width: 85%;
  margin-left: 5%;
  position: relative;
  align-items: center;
  text-align: justify;
  padding: 5px;
  border: 3px;
  color:white;
  font-family: courier;
  font-size: 20px;
}

#wrapper {
    margin-left: 5%;
    width: 85%;
    border: 3px solid #73AD21;
}

#leftcolumn {
    background: #ef8775;
    width: 60%;
    float: left;
    border-radius: 5%;
    padding: 5px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

#lefttittle {
  font-family: helvetica;
  font-size: 20px;
  margin-left: 5%;
  color: white;
  position: relative;
  text-align: left;
}

li {
  font-family: helvetica;
  font-size: 17px;
  margin-left: 5%;
  color: white;
}

a {
  color: white;
}

a:visited {
    color: #5f8c8a;
}

#bridge {
    float: left;
    background: #FFFFFF;
    width: 850px;
    display: block;
    vertical-align: top;
    text-align: right;
    float: right;
    border: 3px solid #73AD21;
}

#bridgepic {
  border-radius: 10%;
  padding-left: 15px;
  height: 250px;
  width: 250px;
}

#byjen {
  font-family: helvetica;
  font-size: 12px;
  color: white;
  display: block;
}

#joinus {
  font-family: helvetica;
  color: #eddb4e;
  position: relative;
  text-align: center;
}

#joinusform {
  font-family: helvetica;
  color: white;
}

div.contactus {
  font-family: helvetica;
  margin: 25px;
  width: 85%;
  height: 250px;
  padding: 15px;
  display:inline-block;
  border: 3px solid #73AD21;
  margin-left: 30px;
}

#suggestions{
  font-family: courier;
  font-size: 20px;
  color:white;
  display: block;
  width: 85%
  padding: 5px;
  border: 3px;
  margin-left: 5%;
}

#otherlink {
  color: #eddb4e;
  display: block;
  text-align: center;
}