body {
  background-color:#67ae73;
}

#aboutus {
  color: pink;
  padding: 10px;
  font-size: 20px;

}

#bigtitle {
  font-family: helvetica;
  color: blue;
  position: relative;
  text-align: center;
}

#subtitle {
  font-family: helvetica;
  color: blue;
  position: relative;
  text-align: center;
}